label {
	display: block;
	margin: 10px 0;
}
textarea,
input[type="text"] {
	display: block;
	padding: 10px;
	font-size: 20px;
	width: 500px;
	border: 0;
	background-color: $transparent-white;
	@include single-transition(0.5s, background-color, ease);
	&:focus {
		background-color: white;
		outline: none;
	}
	@media (max-width: $bp-small) {
		width: 100%;
	}
}
textarea {
	min-width: 100%;
	max-width: 100%;
}
button[type="submit"] {
	@extend .button-alt;
	font-family: $font-stack;
	font-size: 16px;
	&:active {
		outline: none;
	}
	@media (max-width: $bp-small) {
		width: 100%;
	}
}
.form-message {
	color: $purple;
	background-color: $white;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
}