.container {
	max-width: 1000px;
	margin: auto;
	overflow: auto;
	@media (max-width: 1000px) {
		padding: 0 20px;
	}
}
.clearfix:after {
	content: '';
	clear: both;
	display: block;
}
section {
	background-color: $black;
	overflow: auto;
}

header {
	padding: 50px;
	background-color: $black;
	overflow: hidden;
	@media (max-width: $bp-small) {
		padding: 0;
	}
	.logo {
		color: white;
		border-bottom: 10px solid $purple;
		font-size: 70px;
		text-decoration: none;
		display: block;
		float: left;
		line-height: 70px;
		font-weight: bold;
		font-family: 'Montserrat';
		@include single-transition(0.2s, all, ease);
		&:hover {
			border-bottom: 10px solid $light-purple;
		}
		@media (max-width: $bp-small) {
			text-align: center;
			margin: auto;
			padding: 10px 0 20px;
			float: none;
			border-bottom: 0;
			&:hover {
				border-bottom: 0;
			}
		}
	}
	nav {
		float: right;
		background-color: $dark-black;
		border-radius: 20px;
		@media (max-width: $bp-small) {
			background-color: $purple;
			border-radius: 0;
			width: 100%;
		}
		ul {
			overflow: hidden;
			height: 100%;
			@media (max-width: $bp-small) {
				display: flex;
				width: 80%;
				margin: auto;
			}
			@media (max-width: $bp-tiny) {
				width: 100%;
			}
			li {
				float: left;
				height: 100%;
				@media (max-width: $bp-small) {
					flex: 1;
				}
				a {
					box-sizing: content-box;
					display: block;
					color: $gray;
					border-bottom: none;
					padding: 25px 30px;
					line-height: 30px;
					font-size: 24px;
					height: 30px;
					text-align: center;
					@include single-transition(all, 0.2s, ease);
					&:hover, &:focus {
						color: $white;
					}
					@media (max-width: $bp-tiny) {
						font-size: 16px;
						padding: 15px 10px;
					}
					@media (max-width: $bp-small) {
						color: $white;
					}
				}
			}
		}
	}
}
#top {
	min-height: 100vh;
	color: $white;
	.hero {
		width: 80%;
		margin: auto;
		text-align: center;
		padding: 25vh 0;
		@media (max-width: $bp-small) {
			padding: 20vh 0;
		}
		@media (max-width: $bp-tiny) {
			.hero-title {
				color: $white;
			}
			.hero-text {
				display: none;
			}
			padding: 10vh 0;
		}
		.hero-text {
			color: $transparent-white;
		}
	}
}
#about {
	box-shadow: 0 0 20px 0 black;
	background-color: $white;
	.container {
		text-align: center;
		padding: 50px;
		img {
			margin: 20px auto;
			max-width: 100%;
			&.profile {
				border-radius: 100%;
			}
		}
	}
	.feature-items {
		@include highlight-background;
		ul {
			flex: 1;
			display: flex;
			@extend .container;
			overflow: hidden;
			@media (max-width: $bp-tiny) {
				flex-direction: column;
			}
			li {
				flex: 1;
				position: relative;
				padding: 20px;
				text-align: center;
				color: $transparent-white;
				font-size: 20px;
				@include font-smoothing;
				@include single-transition(0.2s, all, ease);
				&:hover {
					@include transform(scale(1.2));
					color: $white;
				}
				@media (max-width: $bp-small) {
					color: white;
					&:hover {
						@include transform(scale(1));
					}
				}
				img {
					max-height: 150px;
					display: block;
					margin: auto;
					padding-top: 20px;
					@media (max-width: $bp-small) {
						max-height: 100px;
					}
				}
			}
		}
	}
}

#portfolio {
	padding: 50px 0;
	color: $white;
	ul {
		li {
			width: 50%;
			float: left;
			position: relative;
			padding: $portfolio-item-padding;
			@media (max-width: $bp-small) {
				width: 100%;
				margin: 0;
			}
			&.drawer {
				width: 100%;
				display: none;
				background-color: $gray-black;
				position: relative;
				margin: $portfolio-item-padding 0;
				box-shadow: 0 0 20px #222 inset;
				@media (max-width: $bp-small) {
					width: 100%;
					padding: 20px;
				}
				.portfolio-description {
					margin: auto;
					max-width: 1000px;
					.portfolio-item-title {
						color: white;
					}
					.portfolio-item-category {
						color: $gray;
					}
				}
			}
			a {
				border-bottom: 0;
				display: block;
				margin: $portfolio-item-padding;
				text-align: center;
				@include fill-all;
				@media (max-width: $bp-small) {
					background-color: rgba(0,0,0,0.5);
				}
				&:hover, &:focus {
					background-color: rgba(0,0,0,0.5);
					&:after {
						opacity: 1;
						@include transform(translateY(200px));
					}
					span {
						opacity: 1;
					}
				}
				&:after {
					transform: translateY(400px);
					opacity: 0;
					content: 'More';
					@extend .button;
					@media (max-width: $bp-small) {
						display: none !important;
					}
				}
				span {
					display: block;
					position: absolute;
					top: 50%;
					width: 100%;
					opacity: 0;
					@include single-transition(0.2s, opacity, ease);
					@include transform(translateY(-50%));
					@media (max-width: $bp-small) {
						opacity: 1;
					}
				}
			}
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}

#contact {
	background-color: $purple;
	color: white;
	padding: 50px 0;
	@include highlight-background;
	@include font-smoothing;
	h3 {
		color: $transparent-white;
	}
	form {
		margin-top: 50px;
	}
}

footer {
	color: $transparent-white;
	padding: 20px 0;
	.container {
		display: flex;
		@media (max-width: $bp-tiny) {
			flex-direction: column;
		}
	}
	.copyright {
		flex: 3;
		line-height: 75px;
		@media (max-width: $bp-small) {
			flex: 1;
		}
		@media (max-width: $bp-tiny) {
			text-align: center;
		}
	}
	.social-icons {
		flex: 1;
		display: flex;
		li {
			flex: 1;
			height: 80px;
			a {
				display: block;
				border-bottom: 0;
				height: 50px;
				margin: 15px 0;
				background-image: url(../../images/twitter.png);
				background-size: 50px;
				background-repeat: no-repeat;
				background-position-x: center;
				@include single-transition(0.2s, all, ease);
				&:hover {
					@include transform(translateY(2px));
				}
			}
			&:first-child a {
				background-image: url(../../images/email.png);
			}
			&:last-child a {
				background-image: url(../../images/github.png);
			}
		}
	}
}